{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <p class="h2">Etusivu</p>
        <div class="row">
            {% if session.user_id %}
            <p>Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>.</p>

            {% else %}
            <p>Et ole kirjautunut sisään.</p>
            <a href="/login">Kirjaudu sisään</a>
            {% endif %}
            {% if session.user_role == 1 %}
            <p class="h4">Potilaan toiminnot:</p>
            <ul>
                <li> <a href="/tasks_p">Tehtävät</a>
                <li> <a href="/messages">Viestit</a>
                <li> <a href="{{url_for('private_chat_list_dr') }}"> Viesti lääkäriltä</a>
            </ul>
            {% endif %}
            {% if session.user_role == 2 %}
            <a href="/messages">Viestit</a>
            <p class="h4">Lääkärin toiminnot:</p>
            <ul>
                <li> <a href="/tasks">Tee uusi tehtävä</a>
                <li> <a href="{{ url_for('private_chat_list_dr') }}">Potilas viestit</a>
            </ul>
            {% endif %}
        </div>
    </div>
</div>


{% endblock %}