{% extends "layout.html" %}
{% block content %}

<h2>Etusivu</h2>

{% if session.user_id %}
Olet kirjautunut sisään nimellä <b>{{ session.user_name }}</b>. <a href="/logout">Kirjaudu ulos</a>
{% else %}
Et ole kirjautunut sisään. <a href="/login">Kirjaudu sisään</a>|
{% endif %}
<p>

{% if session.user_role == 1 %}
<h3>Potilaan toiminnot</h3>
<ul>
<li> <a href="/tasks_p">Tehtävät</a>
<li> <a href="/messages">viestit</a>
</ul>

{% endif %}


{% if session.user_role == 2 %}
<h3>Lääkärin toiminnot</h3>
<ul>
<li> <a href="/tasks">Tee uusi tehtävä</a>
<li> <a href="/messages">viestit</a>
</ul>

{% endif %}
{% endblock %}