{% extends "layout.html" %}
{% block content %}
<p class="error-message">{{ message }}</p>
<form action="/login" method="post">
Tunnus: <input type="text" name="username" oninvalid="alert('käyttäjä tunnus tulee olla 2-20 merkkiä pitkä');" required>
<p>
Salasana: <input type="password" name="password" oninvalid="alert('virheellinen salasana');"  required>
<p>
<input type="submit" value="Kirjaudu">
</form>
Jos sinulla ei ole tunnusta, voit luoda uuden tunnuksen <a href="/register">tästä</a>
{%endblock%}