{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <p class="h2">{{ parent.title }}</p>
        <div class="col-2">
            <div>Aika:</div>
            <div>Lähettäjä:</div>
            <div>viesti:</div>
        </div>
        <div class="col">
            <div>{{ parent.name }}</div>
            <div>
                {{parent.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
            </div>
            <div>{{parent.content}}</div>
            {% if parent.user_id == session.user_id %}
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#edit-{{parent.id}}">
                Muokkaa?
            </a>
            <form id="edit-{{parent.id}}" class="collapse row" action="{{ url_for('edit_mes', id=parent.id) }}"
                  method="POST">
                <div class="col">
                    <textarea name="content" rows="5" cols="40" minlength="3" maxlength="1000" required oninvalid="this.setCustomValidity('viestin pitää olla vähintään 3 merkkiä ja enintään 1000 merkkiä pitkä.')">{{parent.content}}</textarea>
                </div>
                <div class="col">
                    <input type="submit" value="Lähetä"/>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {%endif%}
        </div>
        <hr/>
    </div>
    {% for msg_chain in ms %}

    <div class="row">
        <div class="col-2">
            <div>Lähettäjä:</div>
            <div>Aika:</div>
            <div>viesti:</div>
        </div>
        <div class="col">
            <div>{{ msg_chain.name }}</div>
            <div>
                {{msg_chain.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}
            </div>
            <div>{{msg_chain.content}}</div>
            {% if msg_chain.user_id == session.user_id or session.user_role== 2 %}
            <form action="{{ url_for('remove', id=msg_chain.id) }}" method="POST">
                <button>
                    <input type="submit" value="poista"/>
                </button>
            </form>
            <a class="btn btn-secondary" data-bs-toggle="collapse" href="#edit-{{msg_chain.id}}">
                Muokkaa?
            </a>
            <form id="edit-{{msg_chain.id}}" class="collapse row" action="{{ url_for('edit_mes', id=msg_chain.id) }}"
                  method="POST">
                <div class="col">
                    <textarea name="content" rows="5" cols="40" minlength="3" maxlength="1000" required oninvalid="this.setCustomValidity('viestin pitää olla vähintään 3 merkkiä ja enintään 1000 merkkiä pitkä.')">{{msg_chain.content}}</textarea>
                </div>
                <div class="col">
                    <input type="submit" value="Lähetä"/>
                </div>
                <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
            </form>
            {%endif%}
        </div>
        <hr/>
    </div>

    {% endfor %}
    <div class="row">
        <p>
            Vastaa:
        </p>
        <form action="{{ url_for('message_chain', id = parent.id) }}" method="POST">
            <textarea name="content" rows="5" cols="40" minlength="3" maxlength="1000" required oninvalid="this.setCustomValidity('viestin pitää olla vähintään 3 merkkiä ja enintään 1000 merkkiä pitkä.')"></textarea>
            <br>
            <input type="submit" value="Lähetä">
            <p>
            <input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
        </form>
    </div>
    <a href="{{ url_for('list_messages') }}">edellinen sivu</a>
</div>
{%endblock%}