{% extends "layout.html" %}
{% block content %}
Keskustelijen määrä: {{count }}
<hr>

{% for message in messages %}
<i>Otsikko:</i>{{ message[0] }}
<p></p>
<i>Aika:</i> {{ message[3].strftime("%Y-%m-%d %H:%M:%S") }}
<p></p>
<a href="{{ url_for('message_chain', id=message.id) }}">Avaa viestiketju</a>
{%if message.user_id == session.user_id or session.user_role== 2 %}
<form action="{{ url_for('remove_chain', id=message.id) }}" method="POST">
    <button>
        <input type="submit" value="poista ketju"/>
    </button>
</form>
<a class="btn btn-secondary" data-bs-toggle="collapse" href="#edit-{{message.id}}">
    Muokkaa otsikkoa
</a>
<input type="hidden" name="csrf_token" value="{{ session.csrf_token }}">
<form id="edit-{{message.id}}" class="collapse row" action="{{ url_for('edit_title', id=message.id) }}"
      method="POST">
    <div class="col">
        <textarea name="title" rows="5" cols="50">{{message.title}}</textarea>
    </div>
    <div class="col">
        <input type="submit" value="Lähetä"/>
    </div>
</form>
{%endif%}
<hr>
{% endfor %}

<a href="/newm">Uusi keskustelu</a>
<br>
<a href="http://127.0.0.1:5000/">Etusivulle</a>
{% endblock %}
