{% extends "layout.html" %}
{% block content %}
<div class="container">
    <div class="row">
        <p class="h2">Suljettukeskustelu</p>

        {%for content in lst%}
        {%if content.title%}
        <div class="row">
            <div class="col-1">
                <div  class="h5">Otsikko: </div>
            </div>
            <div class="col">
                <div class="h5">{{ content.title }}</div>
            </div>
        </div>
        {%endif%}

        <div class="row">
            <div class="col-1">
                <div>Viesti: </div>
                <div>Lähetetty: </div>
                <div>Lähetäjä: </div>
            </div>
            <div class="col">
                <div>{{content.content}}</div>
                <div>{{content.sent_at.strftime("%Y-%m-%d %H:%M:%S") }}</div>
                <div>{{content.name}}</div>
            </div>
            </div>
        <hr>
        {% endfor %}
    </div>
</div>
<a href="http://127.0.0.1:5000/">Etusivulle</a>
{% endblock %}