{% extends "layout.html" %}
{% block content %}
<div class="container">
    {%if user_role == 2%}
    {% for p in patients%}
    <div class="row">
        <div class="col-2">
            <div>Nimi: </div>
        </div>
        <div class="col">
        <div>{{ p[0] }}</div>
        <a href="{{ url_for('get_doctor_private_chat', patient_id=p.id) }}">Keskustelu</a>
        </div>
    </div>
    {%endfor%}
    {%endif%}

    {%if user_role ==1%}
    <div class="row">
        <div class="col-2">
            <div>Lääkärikeskustelut: </div>
        </div>
        <div class="col">
        <div>{{length}}</div>
        </div>
        <div class="row">

            {%for chat in lst%}
            <div class="col-1">
                <div>Otsikko:  </div>
            </div>
            <div class="col">
                <div>{{chat.title}}</div>
                <a href="{{ url_for('show_chat_p', dr_id=chat.doctor_id) }}">Avaa keskustleu</a>
            </div>
            {%endfor%}
        </div>
        </div>
    {%endif%}
    <a href="http://127.0.0.1:5000/">Etusivulle</a>
</div>
{% endblock %}